.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 25px;
    height: 25px;
    vertical-align: bottom;
}

label {
    display: inline-block;
    width: 300px;
    text-align: right;
    margin-bottom: 20px;
}

.textLable {
    display: inline-block;
    width: 300px;
    text-align: right;
    margin-bottom: 20px;
}

.preview {
    display: inline;
    color: lightslategray;
    font-weight: bold;
}


input[type="text"]{
   width: 400px;
}

input[type="submit"]{
    background-color: lightslategray;
    color: white;
    border: lightslategray;
    cursor: pointer;
    padding: 5px 15px;
    text-align: center;
    border-radius: 7px;
    /*margin: 20px;*/
    margin-left: 50%;
    margin-right: 50%;
}

.button{
    background-color: lightslategray;
    color: white;
    border: lightslategray;
    cursor: pointer;
    padding: 3px 15px;
    text-align: center;
    border-radius: 7px;
    /*margin: 20px;*/
    margin-left: 50%;
    margin-right: 50%;
}

.history_table{
    margin-left: auto;
    margin-right: auto;
}

#study{
    border-collapse: collapse;
    border: 1px solid lightslategray;
    width: 100%;
}

#study td, #study th {
  border: 1px solid #ddd;
  padding: 8px;
}

#study tr:nth-child(even){background-color: #f2f2f2;}

#study tr:hover {background-color: #ddd;}

#study th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightslategray;
  color: white;
}

#study th:nth-child(4), #study td:nth-child(4), #study th:nth-child(5), #study td:nth-child(5){
    text-align: center;

}

.edit{
    color: lightslategray;
    cursor: pointer;
    text-align: center;
}

.see{
    color: lightslategray;
    cursor: pointer;
    text-align: center;
}

<<<<<<< HEAD
=======
.textarea {
    vertical-align: middle;
    width: 400px;
}

>>>>>>> 387f0234c572de15ef1a0c789cc1e75ecfe0d55a
.home{
    color: white;
}
a:link {
  text-decoration: none;
}

